@font-face {
    font-family: 'rubik';
    src: url('../fonts/rubik/Rubik-VariableFont_wght.ttf'); 
  }

  *{
    font-family: 'rubik';
      padding: 0;
      margin: 0;
  }


  body{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  header{
    width: 100%;
    height: 100vh;
  }
.upheader{
    font-family: 'rubik';
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #7ac751;
    color: #fff;
    padding: 10px 100px;
}
.upheader .upheader_box{
    display: flex;
}
.upheader .upheader_box .upheader_languge{
    margin: 0 20px;
    position: relative;
    padding-right: 40px;
    border-right: 2px solid #fff;
}
.upheader .upheader_box .upheader_languge::before{
    content: '';
    position: absolute;
    top: 3px;
    right: 20px;
    width: 8px;
    height:8px;
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff;
    transform:rotate(315deg);
    -webkit-transform:rotate(315deg);
    -moz-transform:rotate(315deg);
    -ms-transform:rotate(315deg);
    -o-transform:rotate(315deg);
}
/* search box */
.search_box{
    display: flex;
    justify-content: space-between;
    padding:20px 100px;
}
.search_box .logo{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #555555;
}
.search_box .logo img{
    margin-right:10px;
}
.search_box .logo h3{
    margin-top: 10px;
    font-size: 20px;
    font-weight: 600;
}

.search_box .search {
display: flex;
position: relative;
}
.search_box .search input{
    width: 450px;
    border: 2px solid #7ac751;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding:0 10px;
}
select{
    position: absolute;
    top: 0;
    right: 46px;
    height:100% ;
    outline: none;
    border-left:2px solid #d2d1d1;
    border-right: 2px solid #7ac751;
    border-top: 2px solid #7ac751;
    border-bottom: 2px solid #7ac751;
    padding: 0 10px;
    color: #555555;
}
.search_box .search button{
    background-color: #7ac751;
    padding: 15px 15px;
    outline: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.search_box .icons{
    display: flex;
    align-items: center;
}
.search_box .icons img{
    width: 24px;
    height: 24px;
    margin: 0 10px;
}
/* navbar */
.navbar{
    /* width: 100%; */
    background-color: #F7F8FA;
    padding: 20px 100px;
}
.navbar ul{
    display: flex;
    list-style: none;
}
.navbar ul li a{
    margin-right: 50px;
    text-decoration: none;
    color: #555555;
    font-size: 15px;
}

.container{
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
  }
  .container .menuopen{
    position: absolute;
    top: 65px;
    left: 40px;
    font-size: 20px;
    background-color: #7AC751;
    cursor: pointer;
    color: #fff;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .4s ease-in;
    -webkit-transition: all .4s ease-in;
    -moz-transition: all .4s ease-in;
    -ms-transition: all .4s ease-in;
    -o-transition: all .4s ease-in;
    display: none;
}
  .container .menuopen:hover{
    color: #c00;
  }
  .layer1{
    background-color: #000;
    position: relative;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition-delay: .9s;
    z-index: 999;
}
.layer2 ,.layer3,.layer4{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 999;
}
.layer2{
    width: 0;
    background: #7AC751;
    transition: all .4s ease-in-out;
    transition-delay: .7s;
}
.layer3{
    width: 0;
    background: #89bad2;
    transition: all .4s ease-in-out;
    transition-delay: .5s;
}
.layer4{
    width: 0;
    background: white;
    overflow: hidden;
    transition: all .4s ease-in-out;
    transition-delay: .3s;
    z-index: 999;
}
.menuClose{
    position: absolute;
    top: 30px;
    width: 100%;
    right: 30px;
    font-size: 20px;
    cursor: pointer;
    color: black;
    transition: all .4s ease-in;
    -webkit-transition: all .4s ease-in;
    -moz-transition: all .4s ease-in;
    -ms-transition: all .4s ease-in;
    -o-transition: all .4s ease-in;
}
  .menuClose:hover{
    color: #c00;
  }
  .links{
    position: absolute;
    top: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.links a{
    text-decoration: none;
    color: black;
    margin: 35px 0;
  }
  .layer1.check{
    width: 410px;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    transition-delay: .3s;
}
.check .layer2{
    width: 395px;
    transition: .5s;
    transition-delay: .5s;
    transition-delay: .5s;
}
.check .layer3{
    width: 380px;
    transition: .5s;
    transition-delay: .7s;
}
.check .layer4{
    width: 365px;
    transition: .5s;
    transition-delay: .9s;

  }
/* header main */
.header_main{
    background:linear-gradient(#F1FAFFE0, #F1FAFF);
    margin: 15px 100px;
    display: flex;
    flex-direction: row-reverse;
}
.header_main_desc{
    width: 40%;
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    position: relative;
    justify-content: center;
}
.green_up_desc{
    color: #7AC751;
    font-size: 24px;
}
.main_desc{
    font-size: 50px;
    color: #2F2F2F;
    margin: 20px 0;
}
.furiture_text{
    position: relative;
}
.header_main .green_underline{
    width: 280px;
    height: 8px;
    position: absolute;
    top: 64px;
    left: -16px;
}
.gray_down_desc{
    color: #515151;
    font-size: 24px;
    margin: 20px 0;
    font-weight: 500;
}
.button_desc{
    background-color: #7AC751;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 12px 20px;
    color: #fff;
    text-decoration: none;
    margin: 20px 0;
    width: 100px;
    text-align: center;
}
.header_main_img{
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: flex-end;
    margin-right: 100px;
}
.main_img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main_img img{
    width: 600px;
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -o-transform: scaleX(-1);



}
.images_header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.images_item{
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    padding: 5px 20px;
    background-color: #ffffff63;
    margin: 10px 0;
    text-align: center;
    border: 3px solid #fff;
}
.price_header{
    color: #7AC751;
    font-weight: 600;
    font-size: 18px;
    margin: 1px 0;
}
.images_desc{
    color: #515151;
    font-weight: 500;
}
.images_header img{
    width: 100px;
    height: 100px;
}

/* why us */
.why_us_section{
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    margin: 40px 100px;
    margin-top: 100px;
    padding: 0 30px;
    box-sizing: border-box;
}
.why_us_item{
    display: flex;
    align-items: center;
    justify-content: center;
}
.whey_us_content_box{
    margin-left: 20px;
}
.why_us_title{
    font-size: 20px;
    color: #2F2F2F;
    font-weight: 500;
    margin-bottom: 10px;
}
.why_us_desc{
    font-size: 14px;
    color: #515151;   
}

/* grouping_section */
.Grouping_section{
    display: flex;
    margin: 20px 100px;
    position: relative;
}
.Grouping_section img{
    width: 60%;
    height: auto;
    margin-right: 20px;
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -o-transform: scaleX(-1);
}
.Grouping_section .grouping_images_small{
    display: flex;
    flex-direction: column;
    width: 40%;
    position: relative;
}
.Grouping_section .grouping_images_small img{
    width: 100%;
    height: 50%;
    transform: translateX(1px);
}
.Grouping_section .grouping_images_small :nth-child(1){
    margin-bottom: 10px;
}
.Grouping_section .grouping_images_small :nth-child(2){
    margin-top: 10px;
}
.grouping_desc{
    position: absolute;
    top: 50px;
    left: 40px;
}
.grouping_desc_down{
    position: absolute;
    top: 350px;
    left: 40px;
}
.grouping_desc h3,.grouping_desc_down h3{
    color: #555555;
    font-size: 20px;
    font-weight: 500;
}
.grouping_desc h4,.grouping_desc_down h4{
    color: #7AC751;
    font-size: 18px;
    font-weight: 400;
    margin: 10px 0;
}
.grouping_desc p,.grouping_desc_down p{
    color: #7d7d7d;
}
.grouping_desc p::after .grouping_desc_down p::after{
    content: url(../img/arrow_right.svg);
}
/* trending */
.trend ,.our_product{
    margin: 40px 100px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.tren_grouping_section ,.ourProduct_grouping_section{
    text-align: center;
}
.grouping_ourProduct_ul ,.grouping_trend_ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 500px;
    margin: 40px 0;
}
.grouping_ourProduct_ul li ,.grouping_trend_ul{
    color: #C2C2C2;
    font-size: 22px;
    font-weight: 300;
    cursor: pointer;
}
.active_grouping_ourProduct_li ,.active_grouping_trend_li{
    color: #7AC751 !important;
}

.trending_item_box ,.ourProduct_item_box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}
.trending_item ,.ourProduct_item{
    position: relative;
}
.trending_item .card_trending_img ,.ourProduct_item .card_ourProduct_img{
    height:288px ;
    width:270px;
}
.trending_item p ,.ourProduct_item p{
    color: #757575;
    font-size: 15px;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 200;
}
.trending_item h3 , .ourProduct_item h3{
    font-weight: 400;
    font-size: 22px;
    color: #555555;
    margin: 10px 0;
}
.trending_item .price span ,.buttonAndPrice .price span
,.ourProduct_item .price span ,.buttonAndPrice .price span{
    color: #7AC751;
    font-weight: 500;
    font-size: 18px;
}
.trending_item .price del ,.buttonAndPrice .price del
,.ourProduct_item .price del,.buttonAndPrice .price del{
    color: #CCCCCC;
    margin-left: 10px;
    font-size: 17px;
}
.starAndPrice , .buttonAndPrice{
    display: flex;
    justify-content: space-between;
}
.new_up_img_trending ,.new_up_img_ourProduct{
    padding: 4px 15px;
    background-color: #00B7F1;
    color: #fff;
    border-bottom-right-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
}
.Sale_up_img_trending ,.sale_up_img_ourProduct{
    padding: 4px 15px;
    background-color: #7AC751;
    color: #fff;
    border-bottom-right-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
}
.red_up_img_ourProduct{
    padding: 4px 15px;
    background-color: #FF6868;
    color: #fff;
    border-bottom-right-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
}
.arrows_trending{
    margin-top: 50px;
}
.arrows_trending img{
    margin: 0 5px;
    width: 20px;
    height: 20px;
}

.tools_trend ,.tools_ourProduct{
    position: absolute;
    top: 30%;
    right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.tools_trend .tools_trend_item ,.tools_ourProduct .tools_ourProduct_item{
    width: 24px;
    height: 24px;
    margin: 4px 0;
    background-color: #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    padding: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center
}

/* offer */
.offer_section{
    width: 100%;
    margin: 20px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.title_text{
    font-size: 40px;
    font-weight: 400;
    color: #515151;
}
.offer-desc{
    width: 280px;
    position: absolute;
    top: 10%;
    left: 3%;
}
.offer_box{
    position: relative;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 100px;
}
.offer_item{
    width: 100%;
    margin: 20px;
    position: relative;
}
.offer_item img{
    width: 100%;
    height: 250;
}
.offer_time{
    width: 300px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.offer_time_item{
    background-color: #7AC751;
    width: 55px;
    height: 55px;
    margin-right: 10px;
    text-align: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.offer_time_item h3{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 5px;
}
.offer_time_item p{
    font-size: 13px;
    font-weight: 300;
}
.buttonAndPrice{
    margin: 20px 0;
}
.buttonAndPrice a{
    padding: 8px 10px;
    background-color: #7AC751;
    color: #fff;
    font-size: 15px;
    font-weight: 300;
    text-decoration: none;
}
.offer-desc .title_offer{
    color: #555555;
    font-size: 24px;
    font-weight: 500;

}
.offer-desc .offer_detail{
    color: #C2C2C2;
    font-size: 15px;
    font-weight: 300;
    margin: 10px 0;
}
.offer_two_desc{
    width: 300px;
    position: absolute;
    top: 10%;
}
.offer_up_img_span{
    background-color: #00B7F1;
    padding: 6px 10px;
    font-size: 15px;
    color: #fff;
    border-bottom-left-radius: 10px;
    position: absolute;
    top: 0;
    right: 0;
}
.grouping_ourProduct_ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 600px !important;
    margin: 40px 0;
}
.container{
    width: 100%;
    height: 100%;
    position: absolute;
}
.tools_ourProduct{
    position: absolute;
    top: 30%;
    right:20px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.tools_ourProduct .tools_ourProduct_item.active{
    background-color: #7AC751;
    color: #fff;
}
.arrows_ourProduct{
    display: flex;
    width: 75%;
    justify-content: end;
    align-items: center;
    margin-top: 50px;
}
.arrows_ourProduct a{
    color: #fff;
    background-color: #7AC751;
    text-decoration: none;
    padding: 10px 40px;
    margin-right: 100px;
}
.arrow_box{
    display: flex;
    align-items: center;
}
.arrow_box input{
    width:45px;
    height: 25px;
    outline: none;
    text-align: center;
    margin: 0 20px;
    background-color: #F1FAFF;
    border:1px solid #CCCCCC;
    font-size: 16px;
    font-weight: 300;
}
.arrow_sign{
    height: 30px;
    background-color: #7ac751;
    display: flex;
    margin-left: 20px;
}
/* comments */
.comments{
    text-align: center;
    margin: 50px 0;
}
.comment_box{
    width: 700px;
    height: auto;
    background-color: #F8FAFB;
    position: relative;
    margin: 100px 0;
    padding: 60px 10px;
}
.comment_box img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    object-fit: cover;
    position: absolute;
    top: -50px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
.comment_box p{
    color: #757575;
    line-height: 30px;
    font-size: 16px;
    font-weight: 300;
    padding-top:30px;
}
.comment_box h3{
    color:#555555 ;
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
}
.comment_box h4{
    color: #515151;
    font-size: 18px;
    font-weight: 300;
    margin-top: 5px;
}
.comment_box::after{
    content: url('../img/next_comment.svg');
    position: absolute;
    width: 40px;
    height: 40px;
    top: 40%;
    right: -100px;

}
.comment_box::before{
    content: url('../img/prev_comment.svg');
    position: absolute;
    width: 40px;
    height: 40px;
    top: 40%;
    left: -100px;

}
/* article */
.article{
    width: 100%;
    margin: 0 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom:50px;
    margin-top: -50px;
}
.article_section{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    width: 75%;
    grid-gap:20px;
    margin-top: 50px;
}

.overly{
    background-color: rgba(0, 0, 0, 0.447);
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.item_2{
    background: url('../img/article2.jpg');
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
 .item_1{
    background: url('../img/article1.jpg');
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
 .item_3{
    background: url('../img/article3.jpg');
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
 .item_4{
    background: url('../img/article4.jpg');
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
 .article_item {
    color: #fff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    position: relative;
}
.article_content{
    position: absolute;
    bottom: 30px;
    left: 30px;
    padding: 0 30px;
}
.date_article{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
}
.article_ordering{
    background-color: #fff;
    color: #7AC751;
    font-size: 18px;
    font-weight: 400 !important;
    padding: 3px 7px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-right: 10px;
    display: flex;
    justify-items: center;
}
.date_article span{
    font-weight: 300;
}
 h2{
    font-size: 35px;
    font-weight: 450;
}
.article_item p{
    font-size: 14px;
    margin-top: 10px;
}
/* footer */
footer{
    width: 100%;
}
footer .footer_content{
    width: 85%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto auto;
}
footer .footer_content .footer_columns{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
    padding-left: 50px;
}
footer .footer_content .footer_columns .logo{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
}
footer .footer_content .footer_columns h3{
    color: #555555;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}
footer .footer_content .footer_columns a{
    text-decoration: none;
    color: #555;
    font-size: 15px;
    font-weight: 400;
    margin: 10px 0;
}
footer .footer_content .footer_columns .logo h3{
    color: #555555;
    font-size: 20px;
    font-weight: 500;
    margin-left: 10px;
}
footer .footer_content .footer_columns p{
    color: #555555;
    font-size: 15px;
    font-weight: 400;
    padding-right: 30px;
}
footer .footer_content .footer_columns .soial ul{
    display: flex;
    list-style: none;
    width: 50%;
    justify-content: space-between;
    margin-top: 20px;
}
footer .footer_content .footer_columns .soial ul li svg{
    font-size: 18px;
    color: #555555;
}

/* copy write */
.copyWrite{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    box-sizing: border-box;
    color: #757575;
    border-top: 2px solid #d2d1d1;
    padding-top:30px;
    padding-bottom: 10px;
    padding-left: 150px;
    padding-right: 150px;
    font-size: 15px;
}
.copyWrite div{
    display: flex;
    width: 20%;
    justify-content: space-between;
}
/* responsive */
@media only screen and (max-width: 1200px) {
    .images_header{
        display: none;
    }
    .header_main_img{
        margin: 0;
    }
    .header_main_desc {
        left: 30px;
        top: 50%;
        width: 40%;
        position: absolute;
    }
    .header_main{
        height: 80vh;
    }
    .main_img img{
        width: 400px;
    }
    .main_desc{
        font-size: 40px;
    }
    .header_main .green_underline {
        width: 231px;
        height: 8px;
        position: absolute;
        top: 54px;
        left: -25px;
    }
    .why_us_item{
        width: 50%;
        margin: 20px 0;
    }
    .why_us_section{
        flex-wrap: wrap;
    }
}
@media only screen and (max-width: 992px) {
    .container .menuopen{
        display: block;
        display: flex;
    }
    .navbar{
        display: none;
    }
    .search_box .search{
        display: none;
    }
    .why_us_section{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .why_us_section .why_us_item {
        width: 30%;
        margin: 15px 40px;
        justify-content: center;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    .why_us_section .why_us_item img{
        width: 35px;
        height: 35px;
    }
    .why_us_section .why_us_item .why_us_title{
        font-size: 17px;
    }
    .why_us_section .why_us_item .why_us_desc{
        font-size: 14px;
    }
    .header_main{
        margin: 15px 20px;
    }
    .main_img img{
        width: 300px;
        transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        -moz-transform: scaleX(-1);
        -ms-transform: scaleX(-1);
        -o-transform: scaleX(-1);
    }
    .header_main .main_desc{
        font-size: 26px;
    }
    .header_main_desc span{
        display: none;
    }
    .header_main .green_up_desc{
        font-size: 19px;
    }
    .header_main .gray_down_desc{
        font-size: 17px;
    }
    .images_header img{
        width: 60px;
        height: 60px;
    }
    .images_header{
        display: block;
        margin: 30px 0;
    }
    .images_header .images_item{
        width: 80%;
    }
    .images_header .price_header{
        font-size: 15px;
    }
    .images_header .images_desc {
        font-size: 12px;
    }
}

@media only screen and (max-width:650px){
    .header_main_img {
        display: flex;
        flex-direction: row;
        width: 30%;
        justify-content: flex-end;
        margin-right: 100px;
    }
    .header_main_desc {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        position: relative;
        justify-content: center;
    }
    .main_img img {
        display: none;
    }
    .why_us_section{
        margin-top: -50px;
    }
}